body{
    /*a design to the hole body of the website as general */
    width: 900px;
    height: auto;
    margin: auto;
    text-align:center;
  background-image:url(images/bg.jpg);
background-repeat: no-repeat; 
    background-attachment: fixed ;
    background-position: center ;
    background-size: cover;
}
header
 /*a design to the header gives it width and hieght and color */
    margin:   auto ;
    width:1000px ;
    height: 200px;
    color: aliceblue ;
}
.girlpic{
     /*a design to the picture  gives it width and coordinate ist position */
    margin: auto;
    width:1000px;
    
}
section{
     /*a design to the section gives it width, hieght, color and coordinate its position*/
    text-align: center;
    margin: 0px 0px 80px 0px;
    background-color:#1b1a1a ;
    width: 1000px;
    height: auto;
}
.img{
     /*a design to the imge gives it width, hieght, color and coordinate its position */
    margin: auto;
    
    width : 400px ;
    height: 500px;

}
.img1{ /*a design to the imge gives it width, hieght, color and coordinate its position */
    margin: auto;
    
    width : 500px ;
    height: 400px;
    
}


hr{ /*a design to the hr gives it width and coordinate its position */ 
    margin: 10px auto;
    width:200px;

}
    
p{ /*a design to the paragraph gives it pading and coordinate its position */
    color: darkgray;
    padding:50px;
}   


.one{ /*a design to the article gives it width, hieght, color, coordinate its position and backgruond color */
    width: 1000px;
    margin: auto;
  background-color: #fff;
    height: 600px;
}
.two{ /*a design to the article gives it width, hieght, color,pading,backgruond color and coordinate its position  */
width: 1000px;
    margin: auto;
    background-color: aliceblue;
    height: 400px;
    padding-top: 40px;
    padding-bottom: 0 ;
} .three{
   /*a design to the article gives it width, hieght, color,pading,backgruond color and coordinate its position  */
    width: 800px;
    margin: auto;
    justify-content: center;
background-color: black;
    height: 100px;
    padding: 20px;
}
.four{
/*a design to the article gives it width, hieght and coordinate its position  */
    width: 900px;
    margin: auto;
    height: 1000;
}
.five{  /*a design to the article gives it width, hieght,backgruond color and coordinate its position  */
    display: inline ;
   background-color: #fff;
    width: 500px;
    margin: auto;
    height: 400px;
 
}
.six{
    /*a design to the article gives it width, hieght,  and coordinate its position and put hte tag inline */
    display: inline;
    width: 500px;
    margin: auto;
     height: 400px;
 
}
.seven{ /*a design to the article gives it width, hieght,backgruond color and coordinate its position and put the tag inline  */
       display: inline;
    width: 500px;
    margin: auto;
  background-color: #fff;
   height: 400px;
}
.eight{ /*a design to the article gives it width, hieght and coordinate its position and make it flexable  */
    margin:80px auto 0px auto;
    display: flex;
    width: 1000px;
    height: 1200px;
flex-direction: row;
flex-wrap: wrap
}
.line{ /*a design to the span gives it color and coordinate its position  */
margin: 10px;
    color: darkgray;
}
.backgroud{
    
    margin: auto;
width: 900;
    height: 100px;
} .icon{ /*a design to the imges of social media icons gives them width, hieght,put them inline and coordinate thier position  */
    width: 50px;
    height: 50px;
   display: inline;
    margin: 0px auto 30px auto ;
} 

.a{ /*a design to the anchor gives it color*/
      color: darkgray; 
}
footer{
    /*a design to the section  coordinate its position  */
    margin-bottom: 60px;
    
}
span{
    /*a design to the span color */
    color: darkgray;
}

.teplanted{
    /*a design to the span under the title in thje footer gives it color  */
    color: #fff
}
.titlelink { 
    /*a design to the two links in the title  gives it color  */
    color: #fff ;
    text-decoration: none;
}
.firstTitle{
    /*a design to first title in the websit gives it color ,font size and put it in block position  */
    font-size: 100px;
    display: block;
    color:  #fff ;
}
.whiteColor{
    /*a design to thefirst title span under the title in the header gives it color  */
    color: #fff ;
}

.sociallinks{
    /*a design to social media links  coordinate position  */
    margin: auto;
}
.imgsdesign{
    /*a design to u tag gives it color  */
    color: darkgray;
}
.girlpic{
    /* design to picture in the header */
    width: 1000px;
}
    
    